body {
	/* background-image: -moz-linear-gradient(45deg, rgba(218,251,250,1) 0%, rgba(185,238,255,1) 50%, rgba(201,246,255,1) 100%);
	background-image: -webkit-linear-gradient(45deg, rgba(218,251,250,1) 0%, rgba(185,238,255,1) 50%, rgba(201,246,255,1) 100%);
	background-image: linear-gradient(45deg, rgba(218,251,250,1) 0%, rgba(185,238,255,1) 50%, rgba(201,246,255,1) 100%);
	background-position: 0px 0px; */
	background: #fdede4;
}

h5 {
	background: rgb(151,246,255);
	background: linear-gradient(43deg, rgba(151,246,255,1) 0%, rgba(154,253,255,1) 50%, rgba(96,255,228,1) 100%);
	color:#6F28EB;
	padding:0.25rem 0.25em 0.25em 0.5em;
}

.logo__title {
	/* color:#946c45; */
	color: rgb(255,190,101);
	color: linear-gradient(45deg, rgba(255,190,101,1) 0%, rgba(255,199,127,1) 50%, rgba(255,212,86,1) 100%);
}
.post__title {
	color:#be8f68;
}

.list__title a{
	color :#946c45;

}
.list__title a:hover {
	color: white;
	background:#be8f68;

}
.widget__title {
	color: #946c45;
}
.main__title{
	color:#be8f68;
}

.menu__list {
	/* background:#e6bfb2; */
	background: rgb(255,207,181);
	background: linear-gradient(120deg, rgba(255,207,181,1) 0%, rgba(250,197,161,1) 20%, rgba(255,222,127,1) 100%);
}



.btn {
	background:#ffe5e5;
	color: #525252;
}
.btn:hover {
	background:#ffa8a8;
}
.menu__btn {
	background: rgb(255,207,181);
	background: linear-gradient(120deg, rgba(255,207,181,1) 0%, rgba(250,197,161,1) 20%, rgba(255,222,127,1) 100%);
	/* background: rgb(255,247,139);
	background: linear-gradient(45deg, rgba(255,247,139,1) 0%, rgba(177,255,223,1) 50%, rgba(213,254,147,1) 100%); */
	color:rgba(185,202,255,1);
}
.menu__btn:hover {
	background: rgb(255,207,181);
	background: linear-gradient(120deg, rgba(255,207,181,1) 0%, rgba(250,197,161,1) 20%, rgba(255,222,127,1) 100%);
	/* background: rgb(255,247,139);
	background: linear-gradient(45deg, rgba(255,247,139,1) 0%, rgba(177,255,223,1) 50%, rgba(213,254,147,1) 100%); */
	color:#A1A1FF;
}
.footer {
	background:#e6bfab;
	border-top: 3px solid #946c45;
	color: #525252;
}

.authorbox__name {
	color:#727272;
}
.pager__subtitle{
	color:#727272;
}